# Variables de entorno (contienen credenciales)
.env

# Entorno virtual Python
.venv/
venv/

# Caché de Python
__pycache__/
*.pyc

# React / Node
node_modules/
dist/

# VS Code opcional
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db