# Variables de entorno (Credenciales y configuraciones sensibles)
.env
backend/.env
*.env

# Python / FastAPI (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Node.js / React (Frontend)
node_modules/
dist/